* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
.lists {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  background-color: skyblue;
}
.img-name {
  background-color: pink;
  width: 500px;
  padding: 20px;
}
